<!-- Copyright (c) 2015 Jean Dias -->

<footer id="footer" itemscope itemprop="http://schema.org/Blog" class="footer">
	<div itemscope itemtype="http://schema.org/Blog" class="container trow">
		<div class="col-md-3">
			<!-- Logotipo -->
			<figure>
				<%= image_tag '', title: @autor %>
			</figure>
			<br/>
			<div id="descricao_site">
				<p><%= Time.now.strftime("%Y") %> &copy; <%= @autor %></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="col-md-3 menu-footer">
			<!-- Menu -->
			<div id="nome_menu">
				<h5>Menu</h5>
			</div>
			<hr/>
			<nav>
				<ul class="list-unstyled">
					<% @menu.each do |m| %>
						<li>
							<p>
								<a itemprop="url" title="<%= m.title_link %>" href="<%= root_url %>/<%= m.url %>" data-no-turbolink="true">
									<%= m.nome %>
								</a>
							</p>
						</li>
					<% end %>
					<li>
						</p>
							<a itemprop="url" title="Entre em Contato e Anuncie" href="<%= root_url %>/contato" data-no-turbolink="true">
								Anuncie
							</a>
						</p>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-md-3" id="populares">
			<!-- Populares -->
			<h5>Mais Populares</h5>
			<hr/>
			<ul class="list-unstyled">
				<% @posts_populares.each do |pp| %>
					<li>
						<a itemprop="url" title="<%= pp.title_link %>" href="<%= root_url %>/<%= pp.categoria.url + '/' + pp.url %>" data-no-turbolink="true">
							<% if pp.tipo_midia == 3 %>
								<div class="row">
									<div class="col-md-2 img-populares">
										<figure class="caixa_corte">
											<img itemprop="image" class="img-popular" title="<%= pp.title_img %>" alt="<%= pp.alt_img %>" src="<%= root_url %>/<%= image_path pp.miniatura %>">
										</figure>
									</div>
									<div class="col-md-10">
										<div class="titulo-rodape">
											<%= pp.titulo %>
										</div>
									</div>
								</div> 
							<% end %>
						</a>
					</li>
					<br/>
				<% end %>
			</ul>
		</div>
		<div class="col-md-3">
			<!-- Sócial -->
			<div id="nome_social">
				<h5>Redes Sociais</h5>
			</div>
			<hr/>
			<a itemprop="url" title="Facebook" target="_blank" href="#">
				<img itemprop="image" title="" alt="" src="<%= root_url %>/<%= image_path '' %>">
			</a>
			<a itemprop="url" title="Youtube" target="_blank" href="#" >
				<img itemprop="image" title="" alt="" src="<%= root_url %>/<%= image_path '' %>">
			</a>
			<a itemprop="url" title="Instagram" target="_blank" href="#">
				<img itemprop="image" title="" alt="" src="<%= root_url %>/<%= image_path '' %>">
			</a>
			<a itemprop="url" title="Twitter" target="_blank" href="#" >
				<img itemprop="image" title="" alt="" src="<%= root_url %>/<%= image_path '' %>">
			</a>
			<a itemprop="url" title="Google+" target="_blank" href="#">
				<img itemprop="image" title="" alt="" src="<%= root_url %>/<%= image_path '' %>">
			</a>
		</div>
	</div>

	<div id="logo-jean" class="container text-right">
		<a class="link-gray" itemprop="url" title="Jean M F Dias" target="_blank" href="http://github.com/jeanmfdias">
			Jean Dias
		</a>
	</div>

</footer>