<!-- Copyright (c) 2015 Jean Dias -->

<div class="row">
	<div class="col-md-4">
		<a href="<%= root_url %>" title="">
			<div class="banner-frase">
				<h1 class="texto-banner-frase">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1> 
			</div>
		</a>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="banner-frase-h2">
			<h2 class="texto-banner-frase">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
		</div>
		<div itemscope itemtype="http://schema.org/Blog" class="banner-icones">
			<a itemprop="url" title="Facebook" href="#" target="_blank"><%= image_tag "" %></a>
			<a itemprop="url" title="YouTube" href="#" target="_blank"><%= image_tag "" %></a>
			<a itemprop="url" title="Instagram" href="#" target="_blank"><%= image_tag "" %></a>
			<a itemprop="url" title="Twitter" href="#" target="_blank"><%= image_tag "" %></a>
			<a itemprop="url" title="Google+" href="#" target="_blank"><%= image_tag "" %></a>
		</div>
	</div>
</div>

<% if @ativo == @musicas %>
	<!-- Gambiarra para img -->
	<img style="display:none;" src="<%= root_url %>/<%= image_path '' %>">
	<!-- Nao entendo porque funciona -->
<% end %>

<div itemscope itemtype="http://schema.org/Blog" class="row">
	<div class="col-md-12">
		<div class="menu">
			<!-- Menu -->
			<nav itemscope itemtype="http://schema.org/Blog">
				<div class="masthead">
					<ul class="nav nav-justified">
						<li class="<%= @ativo == 'home' ? 'active' : nil %>">
							<a itemprop="url" title="<%= @autor %>" href="<%= root_url %>/" class="link-nav" data-no-turbolink="true">Home</a>
						</li>
						<% @menu.each do |m| %>
							<li class="<%= @ativo == m.url ? 'active' : nil %>">
								<a itemprop="url" title="<%= m.title_link %>" href="<%= root_url %>/<%= m.url %>" class="link-nav" data-no-turbolink="true" <%= m.evento.blank? ? nil : m.evento.html_safe %> <%= is_mobile? ? nil : "target=_blank" %>>
									<%= m.nome %>
								</a>
							</li>
						<% end %>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>