<!-- Copyright (c) 2015 Jean Dias -->

<% if flash[:alert] == "BUSCA" %>
	<% content_for :seo do %>
		<title>Busca não encontrada</title>
		<meta name="description" content="Busca não encontrada.">
		<meta name="keywords" content="<%= @meta_keywords %>">
	<% end %>
<% else %>
	<% content_for :seo  do%>
		<title>Página 404 - Página não encontrada</title>
		<meta name="description" content="Esta página não existe.">
		<meta name="keywords" content="<%= @meta_keywords %>">
	<% end %>
<% end %>

<div class="row">
	<div class="col-md-4">
		<div class="block-branco block-main text-center">
			<p>
				<img title="Página não encontrada" alt="Página 404" src="<%= root_url %>/<%= image_path '' %>">
			</p>
			<% if flash[:alert] == "BUSCA" %>
				<p class="texto-404">
					Busca não encontrada. Pesquise por palavras específicas ou veja as mensagens ao lado:
				</p>
				<%= form_for @busca do |f| %>
					<div class="input-group">
						<%= f.text_field :termo, :class => "form-control" %>
						<span class="input-group-btn">
							<%= f.submit "Procurar", :class => "btn btn-danger" %>
						</span>
					</div>
				<% end %>	
			<% else %>
				<p class="texto-404">
					Esta página não existe. <a title="<%= @nome_site %>" href="<%= root_url %>" data-no-turbolink="true">Clique aqui</a> para voltar ao site.
				</p>
			<% end %>
		</div>
	</div>
	<div class="col-md-8">
		<div class="block-aside">
			<div class="block-branco block-in-aside">
				<div class="block-main">
					<div class="row">
						<% @recomendamos.each do |r| %>
							<div class="col-md-4">
								<a title="Ver <%= r.title_link %>" href="<%= root_url %>/<%= r.categoria.url + '/' + r.url %>" data-no-turbolink="true">
									<% if r.tipo_midia == 3 %>
										<figure class="corte_recomendados">
											<img itemprop="image" title="<%= r.title_img %>" alt="<%= r.alt_img %>" src="<%= root_url %>/<%= image_path r.midia %>">
										</figure>		
										<div>
											<h3><strong><%= r.titulo %></strong></h3>
										</div>
									<% end %>
								</a>
							</div>
						<% end %>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>