<!-- Copyright (c) 2015 Jean Dias -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Jean Dias">
  <title>Músicas Gospel</title>
  <meta property="fb:admins" content="ID DO FACEBOOK" />
  <meta property="og:site_name" content="<%= @nome_site %>" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :css %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body class="corpo">

	<div class="clear">
		<% @extra.each do |e| %>
			<%= e.conteudo.html_safe %>
		<% end %>
	</div>

</body>
</html>