<!-- Copyright (c) 2015 Jean Dias -->

<% content_for :seo do %>
	<title>Busca por: <%= @busca.termo %> - <%= @titulo_site %></title>
	<meta name="description" content="Busca por: <%= @busca.termo %> - <%= @descricao_site %>">
	<meta name="keywords" content="<%= @meta_keywords %>">
<% end %>

<div itemscope itemtype="http://schema.org/Blog" class="row">
	<div class="col-md-8">
		<div class="block-branco block-main">
			<div id="adsense-top" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense" %>
			</div>

			<p>
				<h3 itemprop="name" class="titulo-nao-destaque">Busca</h3>
			</p>

			<div class="detalhes">
				<div class="img">
					<span class="glyphicon glyphicon-search p100"></span>
				</div>
				<div>
					Pesquisa pelo termo: <strong><%= @busca.termo %></strong>
				</div>
			</div>
			
			<% @results.results.each do |r| %>
				<hr/>
				<section>
					<p>
						<div>
							<a itemprop="url" title="<%= raw(r.title) %>" href="<%= raw(r.url) %>" data-no-turbolink="true" target="_blank">
								<p class="title-result"><strong><%= raw(r.title) %></strong></p>
							</a>
							<p class="black"><%= raw(r.description) %></p>
							<a itemprop="url" title="<%= raw(r.title) %>" href="<%= raw(r.url) %>" data-no-turbolink="true" target="_blank">
								<p class="url-result"><%= raw(r.url) %></p>
							</a>
						</div>
					</p>
				</section>
			<% end %>

			<div id="adsense-bottom" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense" %>
			</div>

		</div>
	</div>
	<%= render partial: "principal/aside" %>
</div>

<%= content_for :seo do %>
	<style type="text/css">
		p.black {
			color: #000000;
		}

		p.title-result {
			font-size: 16px;
		}

		p.url-result {
			font-size: 10px;
		}
	</style>
<% end %>