<!-- Copyright (c) 2015 Jean Dias -->

<% content_for :seo do %>
	<meta property="og:image" content="<%= @url_base2 %><%= image_path '' %>" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:url" content="<%= root_url %><%= @categoria.categoria.url %>/<%= @categoria.url %>" />
	<meta property="og:description" content="<%= @categoria.meta_descricao %>">
	<meta property="og:title" content="<%= @categoria.meta_titulo %>" />
	<meta property="og:type" content="blog" />
	<title><%= @categoria.meta_titulo %></title>
	<meta name="description" content="<%= @categoria.meta_descricao %>">
	<meta name="keywords" content="<%= @categoria.meta_keywords %>">
<% end %>

<div itemscope itemtype="http://schema.org/Blog" class="row">
	<div class="col-md-8">
		<div class="block-branco block-main">
			<div id="adsense-top" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense" %>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3"><div class="texto-busca-ask">Faça sua pergunta</div></div>
				<div class="col-md-5">
					<%= form_for @busca do |f| %>
						<div class="input-group">
				      <%= f.text_field :termo, :class => "form-control", :placeholder => "Digite o que você procura" %>
				      <span class="input-group-btn">
				      	<button type="submit" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span></button>
				      </span>
				    </div>
			    <% end %>
				</div>
				<div class="col-md-2"></div>
			</div>
			<br/>

			<div class="social row">
				<div class="col-md-6 botoes-social">
					<h3 class="titulo-nao-destaque"><%= @categoria.nome %></h3>
				</div>
				<div class="col-md-6">
					<!-- begin icones sociais -->
					<div class="btn-social-fb-nm">
						<div class="fb-like" data-href="<%= root_url %>/<%= @categoria.categoria.url %>/<%= @categoria.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
					</div>
					<div class="btn-social">
						<a href="https://twitter.com/share" data-url="<%= root_url %><%= @categoria.categoria.url %>/<%= @categoria.url %>" class="twitter-share-button" data-text="<%= truncate_html strip_tags(@categoria.descricao), length: 50 %>" data-lang="pt" data-hashtags="blogInitial">Tweetar</a>
					</div>
					<div class="btn-social">
						<div class="g-plusone" data-size="medium"></div>
					</div>					
					<!-- end icones sociais -->
				</div>
			</div>

			<div class="detalhes">
				<div class="img">
					<span class="glyphicon <%= @icon %> p100"></span>
				</div>
				<div>
					<%= @categoria.descricao.html_safe %>
				</div>
			</div>

			<hr/>

			<% @posts.each do |p| %>	
				<section itemscope itemtype="http://schema.org/Question"><br/>
					<div class="perguntasErespostas"> 
						<h4 itemprop="name">
							<a itemprop="url" href="<%= root_url %>/<%= @perguntas %>/<%= p.categoria.url %>/<%= p.url %>" title="<%= p.title_link %>" data-no-turbolink="true"><%= p.titulo %></a>
						</h4>
					</div><br/>
				</section>
				<hr class="clear"/>
			<% end %>

			<div id="adsense-bottom" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense_bottom" %>
			</div>

			<div class="block-main">
				<div class="row">
					<div class="col-md-9"><%= paginate @posts %></div>
					<div class="col-md-3">
						<a itemprop="url" class="btn btn-danger btn-block" title="Voltar para perguntas bíblicas" href="<%= root_url %>/<%= perguntas %>" data-no-turbolink="true">Ver todos os Temas</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<%= render partial: "principal/aside" %>
</div>
