<!-- Copyright (c) 2015 Jean Dias -->

<% @categoria.each do |c| %>
	<% @categoria = c %>
<% end %>

<% content_for :seo do %>
	<meta property="og:image" content="<%= @url_base2 %><%= image_path '' %>" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:url" content="<%= root_url %><%= @categoria.url %>" />
	<meta property="og:description" content="<%= @categoria.meta_descricao %>">
	<meta property="og:title" content="<%= @categoria.meta_titulo %>" />
	<meta property="og:type" content="blog" />
	<title><%= @categoria.meta_titulo %></title>
	<meta name="description" content="<%= @categoria.meta_descricao %>">
	<meta name="keywords" content="<%= @categoria.meta_keywords %>">
<% end %>

<div itemscope itemtype="http://schema.org/Blog" class="row">
	<div class="col-md-8">
		<div class="block-branco block-main">
			<div id="adsense-top" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense" %>
			</div>
			
			<p>
				<h3 itemprop="genre" class="titulo-nao-destaque"><%= @categoria.nome %></h3>
			</p>

			<div class="detalhes">
				<div class="img">
					<span class="glyphicon <%= @icon %> p100"></span>
				</div>
				<div>
					<%= @categoria.descricao.html_safe %>
				</div>
			</div>

			<hr/>
			<div class="block-main">
				<div class="row">
					<% @subCategorias.each do |sc| %>
						<div class="col-md-4">
							<div class="lista-nomes">
								<a itemprop="url" title="<%= sc.title_link %>" href="<%= sc.categoria.url %>/<%= sc.url %>" class="autores" data-no-turbolink="true">
									<img alt="<%= sc.alt_img %>" title="<%= sc.title_img %>" src="<%= root_url %>/<%= image_path sc.logotipo %>" class="foto-autor">
									<span class="nome-autor"><%= sc.nome %></span>
								</a>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<div id="adsense-top" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense_bottom" %>
			</div>
			
		</div><br/>

		<div class="block-main block-branco">
			<h4 class="clear titulo-nao-destaque">Frases variadas</h4>
			<hr/>
			<% @frasesRandom.each do |fr| %>	
				<div>
					<p>							
						<div class="titulo-frase"> 
							<h5 class="label label-danger" itemprop="genre">
								<a itemprop="url" title="Frases de <%= fr.categoria.nome %>" href="<%= fr.categoria.categoria.url %>/<%= fr.categoria.url %>" data-no-turbolink="true">
									<%= fr.categoria.nome %>
								</a>
							</h5>
						</div>
						<div class="frase text-justify">
							<h4 itemprop="text">
								<%= fr.conteudo.html_safe %>
							</h4>
						</div>
					</p>
				</div>
				<hr class="clear"/>
			<% end %>

			<div class="block-main">
				<div class="row">
					<div class="col-md-10"></div>
					<div class="col-md-2">
						<a itemprop="url" class="btn btn-danger btn-block" title="Voltar para home" href="<%= root_url %>" data-no-turbolink="true">Voltar</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<%= render partial: "principal/aside" %>
</div>
