<!-- Copyright (c) 2015 Jean Dias -->

<% @categoria.each do |c| %>
	<% @categoria = c %>
<%end %>

<% content_for :seo do %>
	<meta property="og:url" content="<%= root_url %><%= @categoria.url %>" />
	<meta property="og:description" content="<%= @categoria.meta_descricao %>">
	<meta property="og:title" content="<%= @categoria.meta_titulo %>" />
	<meta property="og:type" content="blog" />
	<title><%= @categoria.meta_titulo %></title>
	<meta name="description" content="<%= @categoria.meta_descricao %>">
	<meta name="keywords" content="<%= @categoria.meta_keywords %>">
<% end %>

<div itemscope itemtype="http://schema.org/Blog" class="row">
	<div class="col-md-8">
		<div class="block-branco block-main">
			<div id="adsense-top" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense" %>
			</div>
			
			<p>
				<h3 itemprop="genre" class="titulo-nao-destaque"><%= @categoria.nome %></h3>
			</p>

			<div class="detalhes">
				<div class="img">
					<span class="glyphicon <%= @icon %> p100"></span>
				</div>
				<div>
					<%= @categoria.descricao.html_safe %>
				</div>
			</div>

			<% @extras.each do |e| %>
				<hr/>	
				<div itemprop="text" class="text-center">
					<%= e.conteudo.html_safe %>
				</div>
			<% end %>

			<div id="adsense-bottom" class="text-center espaco-adsense">
				<%= render partial: "principal/adsense_bottom" %>
			</div>
			
			<div class="block-main">
				<div class="row">
					<div class="col-md-10"><%= paginate @extras %></div>
					<div class="col-md-2">
						<%= link_to 'Voltar', {action: "index", controller: "principal"}, :class => "btn btn-danger btn-block", :title => "Voltar para Home", "data-no-turbolink" => true %>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<%= render partial: "principal/aside" %>
</div>
